/* 全般設定 */
body {color: black; background: white; margin: 0; padding: 0;}
table {width: 100%; margin: 5; padding: 5; font-size: 11px}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif, osaka;}
/* 全般的なリンクの設定 */
a {color: #000066; text-decoration: underline; background-color: transparent;}
a:hover {color: #ff6600;}
a:visited {color: #333399;}
/* 一般タグの設定 */
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
/* リスト表示の設定 中央左右のブロックなどで使用 */
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: #2F5376}
input.formButton {}
/* 最新ニュースの枠 */
.item {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc;}
/* 最新ニュースのタイトルバー */
.itemHead {padding: 3px; background-color: tranparent; color: #666666; border: 1px solid #999999;}
/* 最新ニュースの投稿情報欄 */
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
/* 最新ニュースのタイトルの設定 */
.itemTitle a {font-size: 120%; font-weight: bold; font-variant: small-caps; background-color: transparent;}
/* 最新ニュースの投稿者 */
.itemPoster {font-size: 90%;}
/* 最新ニュースの投稿日 */
.itemPostDate {font-size: 90%;}
/* 最新ニュースのステータス */
.itemStats {font-size: 90%;}
/* 最新ニュースのコンテンツ部分 */
.itemBody {padding-left: 15px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 130%;}
/* 最新ニュースの1文字目 */
.itemText:first-letter {font-size: 150%; font-weight: bold;}
/* 最新ニュースのフッター */
.itemFoot {text-align: right; padding: 3px; background-color: #efefef}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}
th {background-color: #2F5376; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif, osaka;}
/*ヘッダーブロックの定義*/
td#headerlogo {width: 250; background-color: #CC0000; vertical-align: middle; text-align:left; padding: 2px 2px 2px 5px;}
td#headerbanner {background-color: #CC0000; vertical-align: middle; text-align:right; color:#FFFFFF; line-height:130%;}
td#headerbanner a{color: #FFFFFF;}
td#headerbanner a:hover{color: #FFFFFF; text-decoration: underline;}
td#headerbar {border-bottom: 1px solid #000000; border-top: 1px solid #999999; background-color: #666666; text-align:left;}
/*左ブロックの定義*/
td#leftcolumn {width: 200px; border-left: 1px solid #999999; border-right: 1px solid #999999; font-size:11px; text-align:left; border-bottom: 1px solid #999999;}
td#leftcolumn th {background-color: transparent; color: #222222; vertical-align: middle;}
/*ヘッダーブロックタイトルの定義*/
td#leftcolumn div.blockTitle {padding: 3px; background-color: transparent; color: #222222; font-weight: bold; margin: 5px 2px 5px 10px;}
/*ヘッダーブロックコンテンツの定義*/
td#leftcolumn div.blockContent {padding: 3px; background-color: transparent; line-height: 110%; margin-left: 10px; border-bottom: 1px solid #CCCCCC;}
/* 左ブロック　メインメニューの定義*/
td#mainmenu a {background-color: #EEEEEE; padding: 4px;}
td#mainmenu a:hover {background-color: #ffffff;}
td#mainmenu a.menuTop {padding-left: 3px;}
td#mainmenu a.menuMain {padding-left: 3px;}
td#mainmenu a.menuSub {padding-left: 12px;background-color: #F6F6F6;}
/*左ブロック　ユーザーメニューの定義*/
td#usermenu a {background-color: #EEEEEE; padding: 4px;}
td#usermenu a:hover {background-color: #ffffff;}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}
/*中央ブロックの定義*/
td#centercolumn {font-size: 11px; text-align:left; border-left: 1px solid #999999; border-bottom: 1px solid #999999;}
td#centercolumn th {background-color: #899DB8; color: #FFFFFF; vertical-align: middle;}
/*中央-中央ブロックの定義*/
td#centerCcolumn {padding: 0px 5px 1px 0px;}
td#centerCcolumn div.blockTitle {padding: 3px; background:#CCCCCC; color: #000000; font-weight: bold; margin-top: 0px; margin-right: 0px; margin-left: 0px;}
td#centerCcolumn div.blockContent {padding: 3px; margin-right: 0px; margin-left: 0px; margin-bottom: 2px; line-height: 120%;}
/*中央-左ブロックの定義*/
td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn div.blockTitle {padding: 3px; background:#CCCCCC; color: #000000; font-weight: bold; margin-top: 0px;}
td#centerLcolumn div.blockContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #dddddd; padding: 3px; line-height: 120%;}
/*中央-右ブロックの定義*/
td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn div.blockTitle {padding: 3px; background:#CCCCCC; color: #000000; font-weight: bold; margin-top: 0px;}
td#centerRcolumn div.blockContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #dddddd; padding: 3px; line-height: 120%;}
div#content {text-align: left; padding: 8px;}
/* フォーラムなどの外枠*/
.outer {border: 1px solid #DDDDDD;}
/* フォーラムなどの投稿情報欄 */
.head {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
/* フォーラムなどの交互に色が変わる部分 */
.even {background-color: #dee3e7; padding: 5px;}
.odd {background-color: #E9E9E9; padding: 5px;}
/* フォーラムなどのフッター */
.foot {background-color: #c2cdd6; padding: 5px; font-weight: bold;}
tr.even td {background-color: #dee3e7; padding: 5px;}
tr.odd td {background-color: #E9E9E9; padding: 5px;}
div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}
/* Xoopsコードを記述する部分 */
div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace, osaka; padding: 0px 6px 6px 6px;}
/* 引用部分の定義 */
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace, osaka; padding: 0px 6px 6px 6px;}
.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: bold; font-style: normal;}
.boite {font-size: 12px; padding:0px; border:2px solid #666666;}
.boutonvert {background-color: #238e23; font-size: 10px; font-weight:bold; color: #ffffff; border:1px solid #cccccc; padding: 0px;}
.boutonorange {background-color: #fe9f0f; font-size: 10px; font-weight:normal; color: #000000; border:1px solid #000000; padding: 0px;}
